# LaTeX compilation artifacts
*.aux
*.log
*.nav
*.out
*.snm
*.toc
*.synctex.gz
*.vrb
*.fls
*.fdb_latexmk
*.bbl
*.blg

# Python & Jupyter cache
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/

# OS and Editor metadata
.DS_Store
Thumbs.db
.vscode/
.idea/
